.DS_Store
.sass-cache/
_site/
programming_drills.zip
javacv/osx1010/javacv-0.10-bin.zip
.jekyll-metadata
package-lock.json
.jekyll-cache/

# ignore the csci476 code, which I like to store in a directory internal to this website.
code/csci476-code/

# specific executables
code
