<!-- contact info -->
<div class="card shadow" style="width:10rem;">

  <img src="{{ site.baseurl }}/assets/me.png" class="border-0 card-img-top" alt="me">

  <div class="card-body pl-2 pb-0" markdown="1">
  **Professor:** {{ site.data.settings.instructor }}
  **Office:** {{site.data.settings.office}} <a target="_blank" href="https://www.montana.edu/calendar/locations.php?building=342"><i class="fas fa-map-pin"></i></a><br/>
  **Phone:** {{site.data.settings.officephone}}<br/>
  **Email:** {{site.data.settings.email}}<br/>
  {:.card-subtitle .small}
  {% for item in site.data.settings.social -%}<a href="{{ item.link }}"><i class="fa{{ item.type }} fa-{{ item.icon }}" aria-hidden="true"></i></a>{%- endfor %}
  </div>

</div>
