* {
   /* debug */
   /* outline: 1px solid red; */

/*
   margin: 0px;
   padding: 0px;
   border: 0px;
   margin-right: auto;
   margin-left: auto;
   width: auto;
 */

  font-family: 'Assistant', sans-serif;
}

.container, .container-sm, .container-xl {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

body {
  background-color: #F2F2F2;
}

#coursetitle {
    text-align: center;
    padding:40px;
    /* font-size: 3em; */
    font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', sans-serif;
  color: #333;
  padding: 0px;
  margin: 0px;
}

h1 {}

h2 {
  /* Add horizontal line under each h2 with padding above and below */
  border-bottom: 1.0px solid #CCC;
  margin-top: 15px;
  margin-bottom: 5px;
}

p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.25rem;
}

a {
  color: rgb(24, 107, 188); /* MSU Blue */
  text-decoration: none;
  /* font-weight: 600; */
}

a:hover {
  text-decoration: none;
  /* font-weight: 600; */
}

img {
  height: auto;
  border-radius: 5px;
  margin-left: 10px;
}

.card {}

.navbar-brand {
  font-size: 2.0rem;
  font-weight: 600;
}

blockquote {
  border-left: 0.2rem solid #ccc;
  font-style: italic;
  color: #999;
  margin: 10px 0px;
  padding: 5px 10px;
}
blockquote strong { color: #777; }
blockquote p { display: inline; }

/* OLD? STILL BEING USED? */

.titlenote {
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 600;
    color: #777;
}
.note {
    font-size: 0.95rem;
    font-style: italic;
    font-weight: 100;
    color: #999;
    margin: 0rem;
    padding: 0rem;
}
.timestamp {
  color: #ddf;
  font-size: 0.65rem;
  font-style: italic;
  font-weight: 100;
  padding-left: 5px;
}

/* FOOTER */

.copyright {}

footer {}

.footer {
  color: #999;
  margin: 75px 0px 0px 0px;
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
}

.footer a {
  color: #111;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 700;
}

/* POSTS */

.posts {
  margin-bottom: 3rem;
  padding: 0px;
  list-style: none;
  width: 100%;
}
.posts p.posts-teaser-text {
    font-style: italic;
    margin-bottom: 5px;
}
.post-date {
  display: block;
  margin-top:0px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

/* Code */

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #eee;
    padding: 1px 10px;
    font-family: "Andale Mono", "Source Code Pro", sans-serif;
}

.highlight .lineno {
    color: #aaa;
    display:inline-block;
    padding: 0 0px;
    border-right:0.5px solid #ccc;
}

.highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}

.rouge-table {
    table-layout: fixed;
    width: 100%;
}

.rouge-gutter {
    width: 0px;
    padding-right: 20px;
}

.rouge-code {
    padding-left: 10px;
}

/* Tables
 - TRY ME (RESPONSIVE TABLE): http://lea.verou.me/2018/05/responsive-tables-revisited/
 */

.travis-table table {
    margin: 0px auto;
 	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.travis-table table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
.travis-table table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/* Social media icons */

.fab {color: #444;}
.fas {color: #444;}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}
