* {
   /* debug */
   /* outline: 1px solid red; */

/*
   margin: 0px;
   padding: 0px;
   border: 0px;
   margin-right: auto;
   margin-left: auto;
   width: auto;
 */

  font-family: 'Assistant', sans-serif;
}

.container, .container-sm, .container-xl {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

body {
  background-color: #F2F2F2;
}

#coursetitle {
    text-align: center;
    padding:40px;
    /* font-size: 3em; */
    font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', sans-serif;
  color: #333;
  padding: 0px;
  margin: 0px;
}

h1 {}

h2 {
  /* Add horizontal line under each h2 with padding above and below */
  border-bottom: 1.0px solid #CCC;
  margin-top: 15px;
  margin-bottom: 5px;
}

.titletext {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.subtitletext {
    margin-top: 0px;
    padding-top: 0px;
    font-style: italic;
    /* font-size: 0.95rem; */
    /* font-weight: 600; */
    color: #777;
    color: #999;
}

p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.25rem;
}

a {
  color: rgb(24, 107, 188); /* MSU Blue */
  text-decoration: none;
  /* font-weight: 600; */
}

a:hover {
  text-decoration: none;
  /* font-weight: 600; */
}

ul {
  /* margin: 0px; */
  /* padding: 0px; */
}
li {
  /* margin: 0px; */
  /* padding: 0px; */
}

img {
  height: auto;
  border-radius: 5px;
  margin-left: 10px;
}

.card {}

.navbar-brand {
  font-size: 2.0rem;
  font-weight: 600;
}

blockquote {
  border-left: 0.2rem solid #ccc;
  font-style: italic;
  color: #999;
  margin: 10px 0px;
  padding: 5px 10px;
}
blockquote strong { color: #777; }
blockquote p { display: inline; }

/* OLD? STILL BEING USED? */

.titlenote {
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 600;
    color: #777;
}
.note {
    /* font-size: 0.95rem; */
    font-style: italic;
    font-weight: 100;
    color: #999;
    margin: 0rem;
    padding: 0rem;
}
.timestamp {
  color: #ddf;
  font-size: 0.65rem;
  font-style: italic;
  font-weight: 100;
  padding-left: 5px;
}

/* FOOTER */

.copyright {}

footer {}

.footer {
  color: #999;
  margin: 75px 0px 0px 0px;
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
}

.footer a {
  color: #111;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 700;
}

/* POSTS */

.posts {
  margin-bottom: 3rem;
  padding: 0px;
  list-style: none;
  width: 100%;
}
.posts p.posts-teaser-text {
    font-style: italic;
    margin-bottom: 5px;
}
.post-date {
  display: block;
  margin-top:0px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

/* Social media icons */

.fab {color: #444;}
.fas {color: #444;}

.fa-envelope {
  /* padding: 5px; */
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

code[class*=language-], pre[class*=language-] {
  line-height: 1.25;
  font-size: 10pt;
}

a.fa-link:link { color: #DDDDDD; /* Really light gray */ }
a.fa-link:visited { color: #DDDDDD; /* Really light gray */  }
a.fa-link:hover { color: #777777; }
.fa-link{
  font-size:50%;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  offset: 0px;
  position: relative;
  top: 0px;
  left: 0px;
}
